* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
    overflow-y: auto;
    height: 100%;
}

ul::-webkit-scrollbar {
    width: 0;
}

ul li {
    padding: 8px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    border: 1px solid;
    margin: 10px 0;
    border-radius: 5px;
}
ul li:focus-visible {
    outline: none;
}

ul li > span {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    background-color: #fff8;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    margin-left: 5px;
}

ul li i {
    flex: 0 1 90%;
    padding: 3px;
}

body {
    width: 100vw;
    height: 100vh;
}

button, textarea {
    border-radius: 5px;
    border: none;
}

.container {
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.form__actions, .form__field, .form {
    display: flex;
    gap: 10px;
}
.form, .form__field {
    flex-direction: column;
}
.form__field textarea {
    outline: none;
    border: none;
    padding: 10px;
    resize: none;
    border-radius: 5px;
}

#task {
    padding-left: 10px;
}

.form__field button {
    flex: 0 1 12%;
}

.form__actions {

}
.form__actions button {
    flex: 0 1 50%;
}


button {
    padding: 15px;
    cursor: pointer;
}

.result {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 300px;
    width: 100%;
    max-width: 600px;
}

@media (max-width: 767px) {
    .container {
        padding: 20px 20px 100px 20px;
    }
    button {
        padding: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    body, button, textarea {
        background: #333;
        color: white;
    }
    .result, button, textarea  {
        background-color: #444;
        box-shadow: 0 0 1px 1px #fff8;
    }
}

@media (prefers-color-scheme: light) {
    body, button, textarea, li {
        background: #d7d7d7;
        color: #000;
    }
    button, textarea, .result  {
        background-color: #afafaf;
        box-shadow: 0 0 1px 1px #0008;
    }
}
