* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

ul {
    list-style-type: none;
    overflow-y: auto;
    height: 250px;
}

#task-list:empty {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#task-list:empty:before {
    content: 'Список пуст';
}

ul.archive-lists {
    margin: 0 auto;
    display: flex;
    height: max-content;
    align-items: start;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    user-select: none;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
    scrollbar-width: none;
}

#task {
    height: 100px;
}

ul li.archive-lists__list {
    border-radius: 5px;
    padding: 10px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    background-color: #444;
    max-width: 300px;
    border-color: #fff8;
    box-shadow: 0 0 10px 1px #c2c2c220;
}

ul li.archive-lists__list:hover .archive-delete  {
    transform: scale(1);
}

.archive-delete {
    position: absolute;
    top: -9px;
    display: block;
    right: -9px;
    width: 20px;
    height: 20px;
    background-color: #444;
    border: 1px solid #fff8;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

.archive-delete:before {
    transform: rotate(45deg);
}

.archive-delete:after {
    transform: rotate(-45deg);
}

ul li.archive-lists__list p:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
}

body.dark ul li p.archive-lists__list-date {
    color: #fff8;
}

body.light ul li p.archive-lists__list-date {
    color: #0008;
}

ul li p.archive-lists__list-content {
    height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul::-webkit-scrollbar {
    width: 0;
    height: 0;
}

ul li {
    padding: 8px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    border: 1px solid;
    margin: 10px 0;
    border-radius: 5px;
    gap: 20px;
}

ul li:focus-visible {
    outline: none;
}

ul.result-task-list li>span {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    background-color: #444;
    border: 1px solid #fffa;
    color: #fff8;
    cursor: pointer;
    flex-shrink: 0;
}

ul li p {
    display: block;
    flex: 0 1 90%;
    padding: 3px;
    word-wrap: anywhere;
    cursor: pointer;
}

body {
    height: 100%;
    position: relative;
}

button,
textarea {
    border-radius: 5px;
    border: none;
}

.container {
    padding: 20px 20px 0;
    display: flex;
    height: 90%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.form__actions,
.form__field,
.form {
    display: flex;
    gap: 10px;
}

.form,
.form__field {
    flex-direction: column;
}

.form__field textarea {
    outline: none;
    border: none;
    padding: 10px;
    resize: none;
    border-radius: 5px;
}

.form__field textarea:invalid:required:focus {
    box-shadow: 0 0 1px 1px #910000;
}

#task {
    padding-left: 10px;
}

.form__field button {
    flex: 0 1 12%;
}

.form__actions button {
    flex: 0 1 50%;
}


button {
    padding: 15px;
    cursor: pointer;
}

.layout-block {
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    width: 100%;
}

.result {
    height: 100%;
    flex-direction: column;
    min-height: 100px;
    max-width: 600px;
    max-height: 350px;
}

@media (max-height: 670px) {
    .result {
        height: 220px;
    }

}

@media (max-height: 568px) {
    .result {
        height: 130px;
    }

    button {
        padding: 5px;
    }

    ul li.archive-lists__list {
        padding: 5px;
        gap: 3px;
    }
}

.result-task-list__item-content:hover {
  cursor: text;
}

.result-task-list__item-close {
    position: relative;
}

.result-task-list__item-close::after,
.result-task-list__item-close::before {
    content: ' ';
    position: absolute;
    top: 12px;
    left: 7px;
    background-color: #fffa;
    display: block;
    height: 3px;
    width: 15px;
}

body.dark .result-task-list__item-close::after,
body.dark .result-task-list__item-close::before {
    background-color: #fffa;
}

body.light .result-task-list__item-close::after,
body.light .result-task-list__item-close::before {
    background-color: #000a;
}



.result-task-list__item-close::before {
    transform: rotate(45deg);
}

.result-task-list__item-close::after {
    transform: rotate(-45deg);
}

ul li.animated-add {
    animation: add .3s 1 ease-in-out;
}

ul li.animated-delete {
    animation: delete .3s 1 ease-in-out;
}

.message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    transition: all .3s;
}

.message,
.message-inner-wrapper {
    display: flex;
    align-items: center;
}

.message-inner-wrapper {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
    gap: 20px;
    max-width: 300px;
}

.message__close {
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.message.animated-show {
    animation: show .5s 1 ease-in-out;
}

.message.animated-hidden {
    animation: show .5s 1 ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;
}

body.dark .slider {
    background-color: #444;
    border-color: #fff;
}

body.light .slider {
    background-color: #444;
    border-color: #000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border: transparent;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

body.dark .slider:before {
    background-color: #fff;
}

body.light .slider:before {
    background-color: #444;
}


.theme {
    gap: 20px;
    align-items: center;

}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@keyframes show {
    from {
        transform: translateY(200%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes hidden {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(200%);
    }
}

@keyframes add {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes delete {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@media (max-width: 767px) {
    button {
        padding: 10px;
    }
}

body.light {
    background: #ffffff;
    color: #000;
}

body.dark {
    background: #333;
    color: white;
}

button {
    transition: box-shadow .2s ease-in-out;
}

body.dark button,
body.dark .slider,
body.dark .layout-block,
body.dark .result-task-list__item-close,
body.dark li,
body.dark #task,
body.dark .message-inner-wrapper,
body.dark .archive-lists__list {
    background-color: #444;
    box-shadow: 0 0 1px 1px #fff8;
    color: white;
}

body.light button,
body.light .slider,
body.light .layout-block,
body.light .result-task-list__item-close,
li,
body.light #task,
.message-inner-wrapper,
body.light .archive-lists__list {
    background-color: #fff;
    box-shadow: 0 0 1px 1px #0008;
    color: #000;
}